{
    "semi": false,
    "tabWidth": 4,
    "printWidth": 80,
    "trailingComma": "es5",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2,
                "printWidth": 100
            }
        },
        {
            "files": "*.{jsx,tsx}",
            "options": {
                "tabWidth": 2
            }
        }
    ]}